<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="pineapple_v2_arm">
  <mujoco>
    <compiler
      meshdir="../meshes"
      balanceinertia="true"
      discardvisual="false" />
  </mujoco>
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.00187018 0.00000000 0.04390311"
        rpy="0 0 0" />
      <mass
        value="3.10800000" />
      <inertia
        ixx="0.01717274"
        ixy="-0.00000002"
        ixz="-0.00288655"
        iyy="0.02735770"
        iyz="-0.0000001"
        izz="0.04072592" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.627450980392157 0.627450980392157 0.627450980392157 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0.03 0 0.058"
        rpy="0 0 0" />
      <geometry>
        <box size="0.31 0.15 0.13"/>
      </geometry>
    </collision>
  </link>
  <link
    name="hip_L_link">
    <inertial>
      <origin
        xyz="-0.05433760 0.03563815 0.00125940"
        rpy="0 0 0" />
      <mass
        value="1.44400000" />
      <inertia
        ixx="0.00139042"
        ixy="0.00031419"
        ixz="-0.00000870"
        iyy="0.00243524"
        iyz="-0.00004317"
        izz="0.00203199" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/hip_L_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.537254901960784 0.537254901960784 0.537254901960784 1" />
      </material>
    </visual>
  </link>
  <joint
    name="L_hip_joint"
    type="revolute">
    <origin
      xyz="0.086334 0.050823 0.056"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="hip_L_link" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-0.698"
      upper="0.698"
      effort="20.0"
      velocity="20.94" />
  </joint>
  <link
    name="thigh_L_link">
    <inertial>
      <origin
        xyz="-0.00137082 0.02038256 -0.10950554"
        rpy="0 0 0" />
      <mass
        value="1.36400000" />
      <inertia
        ixx="0.00974554"
        ixy="0.00007271"
        ixz="-0.00015837"
        iyy="0.01013862"
        iyz="0.00108095"
        izz="0.00144653" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/thigh_L_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.647058823529412 0.647058823529412 0.647058823529412 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0.014 0"
        rpy="1.57 0 0" />
      <geometry>
        <cylinder radius="0.028" length="0.028"/>
      </geometry>
    </collision>
    <collision>
      <origin
        xyz="0 0.014 -0.0825"
        rpy="0 0 0" />
      <geometry>
        <box size="0.056 0.028 0.11"/>
      </geometry>
    </collision>
    <collision>
      <origin
        xyz="0 0.029 -0.19"
        rpy="1.57 0 0" />
      <geometry>
        <cylinder radius="0.0525" length="0.058"/>
      </geometry>
    </collision>
  </link>
  <joint
    name="L_thigh_joint"
    type="revolute">
    <origin
      xyz="-0.066166 0.063177 0"
      rpy="0 0 0" />
    <parent
      link="hip_L_link" />
    <child
      link="thigh_L_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-0.349"
      upper="1.919"
      effort="20.0"
      velocity="20.94" />
  </joint>
  <link
    name="calf_L_link">
    <inertial>
      <origin
        xyz="-0.00003828 0.01520116 -0.09887872"
        rpy="0 0 0" />
      <mass
        value="0.68800000" />
      <inertia
        ixx="0.00411869"
        ixy="-0.00000008"
        ixz="0.00000239"
        iyy="0.00430477"
        iyz="0.00021223"
        izz="0.00034949" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/calf_L_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.43921568627451 0.43921568627451 0.43921568627451 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0.0135 0"
        rpy="1.57 0 0" />
      <geometry>
        <cylinder radius="0.026" length="0.021"/>
      </geometry>
    </collision>
        <collision>
      <origin
        xyz="0 0.0135 -0.087"
        rpy="0 0 0" />
      <geometry>
        <box size="0.052 0.021 0.122"/>
      </geometry>
    </collision>
        <collision>
      <origin
        xyz="0 0.0135 -0.19"
        rpy="1.57 0 0" />
      <geometry>
        <cylinder radius="0.0415" length="0.021"/>
      </geometry>
    </collision>
  </link>
  <joint
    name="L_calf_joint"
    type="revolute">
    <origin
      xyz="0 0.056 -0.19"
      rpy="0 0 0" />
    <parent
      link="thigh_L_link" />
    <child
      link="calf_L_link" />
    <axis
      xyz="0 1 0" />
  </joint>
  <link
    name="wheel_L_link">
    <inertial>
      <origin
        xyz="0.00000000 0.01214183 0.00000000"
        rpy="0 0 0" />
      <mass
        value="0.40500000" />
      <inertia
        ixx="0.00008002"
        ixy="-0.0000001"
        ixz="-0.0000001"
        iyy="0.00015810"
        iyz="-0.0000001"
        izz="0.00008002" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/wheel_L_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0.005 0" rpy="-1.5708 0 0"/>
      <geometry>
        <cylinder radius="0.077" length="0.027"/>
      </geometry>
    </collision>    
  </link>
  <joint
    name="L_wheel_joint"
    type="continuous">
    <origin
      xyz="0 0.0355 -0.189999999999999"
      rpy="0 0 0" />
    <parent
      link="calf_L_link" />
    <child
      link="wheel_L_link" />
    <axis
      xyz="0 1 0" />
    <limit
      effort="11.0"
      velocity="25.13" />
  </joint>
  <link
    name="hip_R_link">
    <inertial>
      <origin
        xyz="-0.05433760 -0.03563814 0.00125940"
        rpy="0 0 0" />
      <mass
        value="1.44400000" />
      <inertia
        ixx="0.00139042"
        ixy="-0.00031419"
        ixz="-0.00000870"
        iyy="0.00243524"
        iyz="0.00004317"
        izz="0.00203199" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/hip_R_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.537254901960784 0.537254901960784 0.537254901960784 1" />
      </material>
    </visual>
  </link>
  <joint
    name="R_hip_joint"
    type="revolute">
    <origin
      xyz="0.086334 -0.050823 0.056"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="hip_R_link" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-0.698"
      upper="0.698"
      effort="20.0"
      velocity="20.94" />
  </joint>
  <link
    name="thigh_R_link">
    <inertial>
      <origin
        xyz="-0.00137035 -0.02038253 -0.10950563"
        rpy="0 0 0" />
      <mass
        value="1.36400000" />
      <inertia
        ixx="0.00974557"
        ixy="-0.00007272"
        ixz="-0.00015834"
        iyy="0.01013865"
        iyz="-0.00108096"
        izz="0.00144653" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/thigh_R_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.647058823529412 0.647058823529412 0.647058823529412 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 -0.014 0"
        rpy="1.57 0 0" />
      <geometry>
        <cylinder radius="0.028" length="0.028"/>
      </geometry>
    </collision>
    <collision>
      <origin
        xyz="0 -0.014 -0.0825"
        rpy="0 0 0" />
      <geometry>
        <box size="0.056 0.028 0.11"/>
      </geometry>
    </collision>
    <collision>
      <origin
        xyz="0 -0.029 -0.19"
        rpy="1.57 0 0" />
      <geometry>
        <cylinder radius="0.0525" length="0.058"/>
      </geometry>
    </collision>
  </link>
  <joint
    name="R_thigh_joint"
    type="revolute">
    <origin
      xyz="-0.066166 -0.063177 0"
      rpy="0 0 0" />
    <parent
      link="hip_R_link" />
    <child
      link="thigh_R_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-0.349"
      upper="1.919"
      effort="20.0"
      velocity="20.94" />
  </joint>
  <link
    name="calf_R_link">
    <inertial>
      <origin
        xyz="-0.00003680 -0.01520113 -0.09887845"
        rpy="0 0 0" />
      <mass
        value="0.68800000" />
      <inertia
        ixx="0.00411868"
        ixy="0.00000010"
        ixz="0.00000254"
        iyy="0.00430476"
        iyz="-0.00021222"
        izz="0.00034948" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/calf_R_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.43921568627451 0.43921568627451 0.43921568627451 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 -0.0135 0"
        rpy="1.57 0 0" />
      <geometry>
        <cylinder radius="0.026" length="0.021"/>
      </geometry>
    </collision>
        <collision>
      <origin
        xyz="0 -0.0135 -0.087"
        rpy="0 0 0" />
      <geometry>
        <box size="0.052 0.021 0.122"/>
      </geometry>
    </collision>
        <collision>
      <origin
        xyz="0 -0.0135 -0.19"
        rpy="1.57 0 0" />
      <geometry>
        <cylinder radius="0.0415" length="0.021"/>
      </geometry>
    </collision>
  </link>
  <joint
    name="R_calf_joint"
    type="revolute">
    <origin
      xyz="0 -0.056 -0.19"
      rpy="0 0 0" />
    <parent
      link="thigh_R_link" />
    <child
      link="calf_R_link" />
    <axis
      xyz="0 1 0" />
  </joint>
  <link
    name="wheel_R_link">
    <inertial>
      <origin
        xyz="0.00000000 -0.01214183 0.00000000"
        rpy="0 0 0" />
      <mass
        value="0.40500000" />
      <inertia
        ixx="0.00008002"
        ixy="-0.0000001"
        ixz="-0.0000001"
        iyy="0.00015810"
        iyz="-0.0000001"
        izz="0.00008002" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/wheel_R_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 -0.005 0" rpy="-1.5708 0 0"/>
      <geometry>
        <cylinder radius="0.077" length="0.027"/>
      </geometry>
    </collision>  
  </link>
  <joint
    name="R_wheel_joint"
    type="continuous">
    <origin
      xyz="0 -0.0355 -0.19"
      rpy="0 0 0" />
    <parent
      link="calf_R_link" />
    <child
      link="wheel_R_link" />
    <axis
      xyz="0 1 0" />
    <limit
      effort="11.0"
      velocity="25.13" />
  </joint>
  <link
    name="arm_base_link">
    <inertial>
      <origin
        xyz="0.00919440 -0.00397545 0.01920693"
        rpy="0 0 0" />
      <mass
        value="0.14300000" />
      <inertia
        ixx="0.00016226"
        ixy="0.00001180"
        ixz="-0.00002976"
        iyy="0.00009716"
        iyz="0.00001397"
        izz="0.00015798" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/arm_base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
  </link>
  <joint
    name="arm_base_joint"
    type="revolute">
    <origin
      xyz="0.0311680686284274 -0.00134995018468019 0.148500000000001"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="arm_base_link" />
    <axis
      xyz="0 0 1" />
    <limit 
      effort="10.0" 
      lower="-6.283185307179586" 
      upper="6.283185307179586" 
      velocity="10.0"/>
  </joint>
  <link
    name="arm_link1">
    <inertial>
      <origin
        xyz="-0.12640396 0.00059768 0.00000646"
        rpy="0 0 0" />
      <mass
        value="0.44300000" />
      <inertia
        ixx="0.00022545"
        ixy="0.00000028"
        ixz="-0.00000124"
        iyy="0.00411053"
        iyz="-0.00000005"
        izz="0.00413155" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/arm_link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="1.57 0 0" />
      <geometry>
        <cylinder radius="0.032" length="0.06"/>
      </geometry>
    </collision>
    <collision>
      <origin
        xyz="-0.13 0 0"
        rpy="0 0 0" />
      <geometry>
        <box size="0.25 0.06 0.06"/>
      </geometry>
    </collision>
    <collision>
      <origin
        xyz="-0.255 0 0"
        rpy="1.57 0 0" />
      <geometry>
        <cylinder radius="0.032" length="0.06"/>
      </geometry>
    </collision>
  </link>
  <joint
    name="arm_link1_joint"
    type="revolute">
    <origin
      xyz="0.028857782968915 0 0.0430000000000003"
      rpy="0 0 0" />
    <parent
      link="arm_base_link" />
    <child
      link="arm_link1" />
    <axis
      xyz="0 1 0" />
    <limit 
      effort="10.0" 
      lower="-6.283185307179586" 
      upper="6.283185307179586" 
      velocity="10.0"/>
  </joint>
  <link
    name="arm_link2">
    <inertial>
      <origin
        xyz="0.02090318 -0.00373760 0.03467607"
        rpy="0 0 0" />
      <mass
        value="0.44300000" />
      <inertia
        ixx="0.00079145"
        ixy="-0.00003461"
        ixz="-0.00015668"
        iyy="0.00046887"
        iyz="-0.00005741"
        izz="0.00064873" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/arm_link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
  </link>
  <joint
    name="arm_link2_joint"
    type="revolute">
    <origin
      xyz="-0.255 0 0"
      rpy="0 0 0" />
    <parent
      link="arm_link1" />
    <child
      link="arm_link2" />
    <axis
      xyz="0 1 0" />
    <limit 
      effort="10.0" 
      lower="-6.283185307179586" 
      upper="6.283185307179586" 
      velocity="10.0"/>
  </joint>
  <link
    name="arm_link3">
    <inertial>
      <origin
        xyz="0.04563434 0.00031847 0.00178689"
        rpy="0 0 0" />
      <mass
        value="0.44300000" />
      <inertia
        ixx="0.00020471"
        ixy="-0.00001013"
        ixz="-0.00003512"
        iyy="0.00092669"
        iyz="-0.00000054"
        izz="0.00092411" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/arm_link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="1.57 0 0" />
      <geometry>
        <cylinder radius="0.025" length="0.08"/>
      </geometry>
    </collision>
    <collision>
      <origin
        xyz="0.06 0 0"
        rpy="0 0 0" />
      <geometry>
        <box size="0.12 0.08 0.05"/>
      </geometry>
    </collision>
    <collision>
      <origin
        xyz="0.12 0 0.005"
        rpy="1.57 0 0" />
      <geometry>
        <cylinder radius="0.03" length="0.08"/>
      </geometry>
    </collision>
  </link>
  <joint
    name="arm_link3_joint"
    type="revolute">
    <origin
      xyz="0.036806079660838 0 0.058"
      rpy="0 0 0" />
    <parent
      link="arm_link2" />
    <child
      link="arm_link3" />
    <axis
      xyz="0 1 0" />
    <limit 
      effort="10.0" 
      lower="-6.283185307179586" 
      upper="6.283185307179586" 
      velocity="10.0"/>
  </joint>
  <link
    name="arm_link4">
    <inertial>
      <origin
        xyz="0.05653368 0.00012315 -0.00509880"
        rpy="0 0 0" />
      <mass
        value="0.44300000" />
      <inertia
        ixx="0.00027389"
        ixy="0.00000308"
        ixz="-0.00000252"
        iyy="0.00045266"
        iyz="-0.00000028"
        izz="0.00054877" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/arm_link4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
  </link>
  <joint
    name="arm_link4_joint"
    type="revolute">
    <origin
      xyz="0.118193920339162 0 0.00574999999999998"
      rpy="0 0 0" />
    <parent
      link="arm_link3" />
    <child
      link="arm_link4" />
    <axis
      xyz="0 1 0" />
    <limit 
      effort="10.0" 
      lower="-6.283185307179586" 
      upper="6.283185307179586" 
      velocity="10.0"/>
  </joint>
  <link
    name="arm_link5">
    <inertial>
      <origin
        xyz="0.04301010 -0.00000210 -0.01508413"
        rpy="0 0 0" />
      <mass
        value="0.44300000" />
      <inertia
        ixx="0.00038019"
        ixy="-0.00000004"
        ixz="0.00011125"
        iyy="0.00060488"
        iyz="-0.0000001"
        izz="0.00059400" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/arm_link5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 -0.02"
        rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.035" length="0.065"/>
      </geometry>
    </collision>
    <collision>
      <origin
        xyz="0.05 0 -0.02"
        rpy="0 0 0" />
      <geometry>
        <box size="0.07 0.05 0.065"/>
      </geometry>
    </collision>
  </link>
  <joint
    name="arm_link5_joint"
    type="revolute">
    <origin
      xyz="0.0707499999999996 0 0.0235"
      rpy="0 0 0" />
    <parent
      link="arm_link4" />
    <child
      link="arm_link5" />
    <axis
      xyz="0 0 1" />
    <limit 
      effort="10.0" 
      lower="-6.283185307179586" 
      upper="6.283185307179586" 
      velocity="10.0"/>
  </joint>
  <link
    name="arm_link6">
    <inertial>
      <origin
        xyz="0.04255063 -0.00343620 -0.00012958"
        rpy="0 0 0" />
      <mass
        value="0.44300000" />
      <inertia
        ixx="0.00094503"
        ixy="-0.00004037"
        ixz="0.00000015"
        iyy="0.00038813"
        iyz="-0.00000073"
        izz="0.00108904" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/arm_link6.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0.035 -0.012 0"
        rpy="0 0 0" />
      <geometry>
        <box size="0.05 0.082 0.055"/>
      </geometry>
    </collision>
    <collision>
      <origin
        xyz="0.06 0 0"
        rpy="0 0 0" />
      <geometry>
        <box size="0.035 0.16 0.055"/>
      </geometry>
    </collision>
  </link>
  <joint
    name="arm_link6_joint"
    type="revolute">
    <origin
      xyz="0.0880000000000007 0 -0.0235"
      rpy="0 0 0" />
    <parent
      link="arm_link5" />
    <child
      link="arm_link6" />
    <axis
      xyz="1 0 0" />
    <limit 
      effort="10.0" 
      lower="-6.283185307179586" 
      upper="6.283185307179586" 
      velocity="10.0"/>
  </joint>
  <link
    name="arm_gripper_link1">
    <inertial>
      <origin
        xyz="0.03356398 -0.00981078 0.00000000"
        rpy="0 0 0" />
      <mass
        value="0.02500000" />
      <inertia
        ixx="0.00000201"
        ixy="0.00000188"
        ixz="-0.0000001"
        iyy="0.00000952"
        iyz="-0.0000001"
        izz="0.00001025" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/arm_gripper_link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0.03 -0.006 0"
        rpy="0 0 0" />
      <geometry>
        <box size="0.06 0.02 0.02"/>
      </geometry>
    </collision>
    <collision>
      <origin
        xyz="0.06 -0.0165 0"
        rpy="0 0 0" />
      <geometry>
        <box size="0.03 0.02 0.02"/>
      </geometry>
    </collision>
  </link>
  <joint
    name="arm_gripper_left_joint"
    type="prismatic">
    <origin
      xyz="0.0782 0.027293 0"
      rpy="0 0 0" />
    <parent
      link="arm_link6" />
    <child
      link="arm_gripper_link1" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0.04"
      effort="10"
      velocity="0.1" />
  </joint>
  <link
    name="arm_gripper_link2">
    <inertial>
      <origin
        xyz="0.03356397 0.00981078 0.00000000"
        rpy="0 0 0" />
      <mass
        value="0.02500000" />
      <inertia
        ixx="0.00000201"
        ixy="-0.00000188"
        ixz="-0.0000001"
        iyy="0.00000952"
        iyz="-0.0000001"
        izz="0.00001025" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/arm_gripper_link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0.03 0.006 0"
        rpy="0 0 0" />
      <geometry>
        <box size="0.06 0.02 0.02"/>
      </geometry>
    </collision>
    <collision>
      <origin
        xyz="0.06 0.0165 0"
        rpy="0 0 0" />
      <geometry>
        <box size="0.03 0.02 0.02"/>
      </geometry>
    </collision>
  </link>
  <joint
    name="arm_gripper_right_joint"
    type="prismatic">
    <origin
      xyz="0.0782 -0.027293 0"
      rpy="0 0 0" />
    <parent
      link="arm_link6" />
    <child
      link="arm_gripper_link2" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-0.04"
      upper="0"
      effort="10"
      velocity="0.1" />
  </joint>
</robot>