<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="pineappleV2">
  <mujoco>
    <compiler
      meshdir="../meshes"
      balanceinertia="true"
      discardvisual="false" />
  </mujoco>
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.044769 0.00021 0.063886"
        rpy="0 0 0" />
      <mass
        value="1.673" />
      <inertia
        ixx="0.008145"
        ixy="-0.0000276"
        ixz="-0.00009621"
        iyy="0.02025"
        iyz="0.000004224"
        izz="0.0226" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.48627 0.48627 0.48627 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0.03 0 0.058"
        rpy="0 0 0" />
      <geometry>
        <box size="0.31 0.15 0.13"/>
      </geometry>
    </collision>
  </link>
  <link
    name="battery">
    <inertial>
      <origin
        xyz="-0.060839 -3.4182E-06 0.06104"
        rpy="0 0 0" />
      <mass
        value="0.76" />
      <inertia
        ixx="0.00045379"
        ixy="0"
        ixz="-0.00004362"
        iyy="0.00161715"
        iyz="0"
        izz="0.00174882" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/battery.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
  </link>
  <joint
    name="battery_fix"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="battery" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="arm_base">
    <inertial>
      <origin
        xyz="0.031204 -1.73E-09 0.11757"
        rpy="0 0 0" />
      <mass
        value="0.375" />
      <inertia
        ixx="0.00018034"
        ixy="0"
        ixz="0"
        iyy="0.00018048"
        iyz="0"
        izz="0.00015376" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/arm_base.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.62745 0.62745 0.62745 1" />
      </material>
    </visual>
  </link>
  <joint
    name="arm_base_fix"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="arm_base" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="hip_motor_L">
    <inertial>
      <origin
        xyz="0.11298 0.050823 0.056"
        rpy="0 0 0" />
      <mass
        value="0.55" />
      <inertia
        ixx="0.00058434"
        ixy="0"
        ixz="0"
        iyy="0.00035536"
        iyz="0"
        izz="0.00035536" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/hip_motor_L.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.53725 0.53725 0.53725 1" />
      </material>
    </visual>
  </link>
  <joint
    name="hip_motor_L_fix"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="hip_motor_L" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="hip_motor_R">
    <inertial>
      <origin
        xyz="0.11298 -0.050823 0.056"
        rpy="0 0 0" />
      <mass
        value="0.55" />
      <inertia
        ixx="0.00058436"
        ixy="0"
        ixz="0"
        iyy="0.00035536"
        iyz="0"
        izz="0.00035536" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/hip_motor_R.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.53725 0.53725 0.53725 1" />
      </material>
    </visual>
  </link>
  <joint
    name="hip_motor_R_fix"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="hip_motor_R" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="L_hip">
    <inertial>
      <origin
        xyz="-0.054338 0.035638 0.0012594"
        rpy="0 0 0" />
      <mass
        value="0.894" />
      <inertia
        ixx="0.00086083"
        ixy="0.00019452"
        ixz="-0.00000539"
        iyy="0.00150769"
        iyz="-0.00002673"
        izz="0.00125803" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/L_hip.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.4 0.4 0.4 1" />
      </material>
    </visual>
  </link>
  <joint
    name="L_hip_joint"
    type="revolute">
    <origin
      xyz="0.086334 0.050823 0.056"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="L_hip" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-0.698"
      upper="0.698"
      effort="20.0"
      velocity="20.94" />
  </joint>
  <link
    name="L_thigh">
    <inertial>
      <origin
        xyz="-0.0013708 0.020383 -0.10951"
        rpy="0 0 0" />
      <mass
        value="0.434" />
      <inertia
        ixx="0.00310085"
        ixy="0.00002314"
        ixz="-0.00005039"
        iyy="0.00322592"
        iyz="0.00034394"
        izz="0.00046026" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/L_thigh.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.5 0.5 0.5 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0.014 0"
        rpy="1.57 0 0" />
      <geometry>
        <cylinder radius="0.028" length="0.028"/>
      </geometry>
    </collision>
    <collision>
      <origin
        xyz="0 0.014 -0.0825"
        rpy="0 0 0" />
      <geometry>
        <box size="0.056 0.028 0.11"/>
      </geometry>
    </collision>
    <collision>
      <origin
        xyz="0 0.029 -0.19"
        rpy="1.57 0 0" />
      <geometry>
        <cylinder radius="0.0525" length="0.058"/>
      </geometry>
    </collision>
  </link>
  <joint
    name="L_thigh_joint"
    type="revolute">
    <origin
      xyz="-0.066166 0.063177 0"
      rpy="0 0 0" />
    <parent
      link="L_hip" />
    <child
      link="L_thigh" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-0.349"
      upper="1.919"
      effort="20.0"
      velocity="20.94" />
  </joint>
  <link
    name="knee_motor_L">
    <inertial>
      <origin
        xyz="3.9085E-05 0.027697 -0.19004"
        rpy="0 0 0" />
      <mass
        value="0.93" />
      <inertia
        ixx="0.00071403"
        ixy="0.00000108"
        ixz="0.00000007"
        iyy="0.00104381"
        iyz="-0.00000112"
        izz="0.00071500" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/knee_motor_L.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.62745 0.62745 0.62745 1" />
      </material>
    </visual>
  </link>
  <joint
    name="knee_motor_L_fix"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="L_thigh" />
    <child
      link="knee_motor_L" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="L_calf">
    <inertial>
      <origin
        xyz="-3.8284E-05 0.015201 -0.098879"
        rpy="0 0 0" />
      <mass
        value="0.353" />
      <inertia
        ixx="0.00211322"
        ixy="0"
        ixz="0.00000131"
        iyy="0.00220869"
        iyz="0.00010889"
        izz="0.00017931" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/L_calf.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.43922 0.43922 0.43922 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0.0135 0"
        rpy="1.57 0 0" />
      <geometry>
        <cylinder radius="0.026" length="0.021"/>
      </geometry>
    </collision>
        <collision>
      <origin
        xyz="0 0.0135 -0.087"
        rpy="0 0 0" />
      <geometry>
        <box size="0.052 0.021 0.122"/>
      </geometry>
    </collision>
        <collision>
      <origin
        xyz="0 0.0135 -0.19"
        rpy="1.57 0 0" />
      <geometry>
        <cylinder radius="0.0415" length="0.021"/>
      </geometry>
    </collision>
  </link>
  <joint
    name="L_calf_joint"
    type="revolute">
    <origin
      xyz="0 0.056 -0.19"
      rpy="0 0 0" />
    <parent
      link="L_thigh" />
    <child
      link="L_calf" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-3.314"
      upper="0.174"
      effort="40.0"
      velocity="16.76" />
  </joint>
  <link
    name="wheel_motor_L">
    <inertial>
      <origin
        xyz="8.1392E-05 0.022061 -0.19008"
        rpy="0 0 0" />
      <mass
        value="0.335" />
      <inertia
        ixx="0.00014313"
        ixy="0"
        ixz="0"
        iyy="0.00023596"
        iyz="0"
        izz="0.00014397" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/wheel_motor_L.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.62745 0.62745 0.62745 1" />
      </material>
    </visual>
  </link>
  <joint
    name="wheel_motor_L_fix"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="L_calf" />
    <child
      link="wheel_motor_L" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="L_wheel">
    <inertial>
      <origin
        xyz="0 0.008 0"
        rpy="0 0 0" />
      <mass
        value="0.405" />
      <inertia
        ixx="0.00073779"
        ixy="0"
        ixz="0"
        iyy="0.00143168"
        iyz="0"
        izz="0.00073779" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/L_wheel.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.48627 0.48627 0.48627 1" />
      </material>
    </visual>
    <collision>
        <origin xyz="0 0.0025 0" rpy="-1.5708 0 0"/>
        <geometry>
          <cylinder radius="0.077" length="0.007"/>
        </geometry>
    </collision>
    <!-- <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/L_wheel.STL" />
      </geometry>
    </collision> -->
  </link>
  <joint
    name="L_wheel_joint"
    type="continuous">
    <origin
      xyz="0 0.0355 -0.19"
      rpy="0 0 0" />
    <parent
      link="L_calf" />
    <child
      link="L_wheel" />
    <axis
      xyz="0 1 0" />
    <limit
      effort="11.0"
      velocity="25.13" />
  </joint>
  <link
    name="R_hip">
    <inertial>
      <origin
        xyz="-0.054338 -0.035638 0.0012594"
        rpy="0 0 0" />
      <mass
        value="0.894" />
      <inertia
        ixx="0.00086083"
        ixy="-0.00019452"
        ixz="-0.00000539"
        iyy="0.00150769"
        iyz="0.00002673"
        izz="0.00125803" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/R_hip.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.4 0.4 0.4 1" />
      </material>
    </visual>
  </link>
  <joint
    name="R_hip_joint"
    type="revolute">
    <origin
      xyz="0.086334 -0.050823 0.056"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="R_hip" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-0.698"
      upper="0.698"
      effort="20.0"
      velocity="20.94" />
  </joint>
  <link
    name="R_thigh">
    <inertial>
      <origin
        xyz="-0.0013703 -0.020383 -0.10951"
        rpy="0 0 0" />
      <mass
        value="0.434" />
      <inertia
        ixx="0.00310085"
        ixy="-0.00002314"
        ixz="-0.00005039"
        iyy="0.00322592"
        iyz="-0.00034394"
        izz="0.00046026" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/R_thigh.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.5 0.5 0.5 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 -0.014 0"
        rpy="1.57 0 0" />
      <geometry>
        <cylinder radius="0.028" length="0.028"/>
      </geometry>
    </collision>
    <collision>
      <origin
        xyz="0 -0.014 -0.0825"
        rpy="0 0 0" />
      <geometry>
        <box size="0.056 0.028 0.11"/>
      </geometry>
    </collision>
    <collision>
      <origin
        xyz="0 -0.029 -0.19"
        rpy="1.57 0 0" />
      <geometry>
        <cylinder radius="0.0525" length="0.058"/>
      </geometry>
    </collision>
  </link>
  <joint
    name="R_thigh_joint"
    type="revolute">
    <origin
      xyz="-0.066166 -0.063177 0"
      rpy="0 0 0" />
    <parent
      link="R_hip" />
    <child
      link="R_thigh" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-0.349"
      upper="1.919"
      effort="20.0"
      velocity="20.94" />
  </joint>
  <link
    name="knee_motor_R">
    <inertial>
      <origin
        xyz="3.9085E-05 -0.027697 -0.19004"
        rpy="0 0 0" />
      <mass
        value="0.93" />
      <inertia
        ixx="0.00071403"
        ixy="-0.00000108"
        ixz="0.00000007"
        iyy="0.00104381"
        iyz="0.00000112"
        izz="0.00071500" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/knee_motor_R.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.62745 0.62745 0.62745 1" />
      </material>
    </visual>
  </link>
  <joint
    name="Knee_motor_R_fix"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="R_thigh" />
    <child
      link="knee_motor_R" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="R_calf">
    <inertial>
      <origin
        xyz="-3.6986E-05 -0.015201 -0.098873"
        rpy="0 0 0" />
      <mass
        value="0.353" />
      <inertia
        ixx="0.00211322"
        ixy="0"
        ixz="0.00000131"
        iyy="0.00220869"
        iyz="-0.00010889"
        izz="0.00017931" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/R_calf.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.43922 0.43922 0.43922 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 -0.0135 0"
        rpy="1.57 0 0" />
      <geometry>
        <cylinder radius="0.026" length="0.021"/>
      </geometry>
    </collision>
        <collision>
      <origin
        xyz="0 -0.0135 -0.087"
        rpy="0 0 0" />
      <geometry>
        <box size="0.052 0.021 0.122"/>
      </geometry>
    </collision>
        <collision>
      <origin
        xyz="0 -0.0135 -0.19"
        rpy="1.57 0 0" />
      <geometry>
        <cylinder radius="0.0415" length="0.021"/>
      </geometry>
    </collision>
  </link>
  <joint
    name="R_calf_joint"
    type="revolute">
    <origin
      xyz="0 -0.056 -0.19"
      rpy="0 0 0" />
    <parent
      link="R_thigh" />
    <child
      link="R_calf" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-3.314"
      upper="0.174"
      effort="40.0"
      velocity="16.76" />
  </joint>
  <link
    name="wheel_motor_R">
    <inertial>
      <origin
        xyz="8.1392E-05 -0.022061 -0.19008"
        rpy="0 0 0" />
      <mass
        value="0.335" />
      <inertia
        ixx="0.00014313"
        ixy="0"
        ixz="0"
        iyy="0.00023596"
        iyz="0"
        izz="0.00014397" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/wheel_motor_R.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.62745 0.62745 0.62745 1" />
      </material>
    </visual>
  </link>
  <joint
    name="wheel_motor_R_fix"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="R_calf" />
    <child
      link="wheel_motor_R" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="R_wheel">
    <inertial>
      <origin
        xyz="0 -0.008 0"
        rpy="0 0 0" />
      <mass
        value="0.405" />
      <inertia
        ixx="0.00073779"
        ixy="0"
        ixz="0"
        iyy="0.00143168"
        iyz="0"
        izz="0.00073779" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/R_wheel.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.48627 0.48627 0.48627 1" />
      </material>
    </visual>
    <collision>
        <origin xyz="0 -0.0025 0" rpy="-1.5708 0 0"/>
        <geometry>
          <cylinder radius="0.077" length="0.007"/>
        </geometry>
    </collision>
    <!-- <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/R_wheel.STL" />
      </geometry>
    </collision> -->
  </link>
  <joint
    name="R_wheel_joint"
    type="continuous">
    <origin
      xyz="0 -0.0355 -0.19"
      rpy="0 0 0" />
    <parent
      link="R_calf" />
    <child
      link="R_wheel" />
    <axis
      xyz="0 1 0" />
    <limit
      effort="11.0"
      velocity="25.13" />
  </joint>
  <link
    name="camera">
    <inertial>
      <origin
        xyz="0.174 -0.001 0.036"
        rpy="0 0 0" />
      <mass
        value="0.3" />
      <inertia
        ixx="0.00018698"
        ixy="-0.0000006251"
        ixz="0.0000003048"
        iyy="0.00002759"
        iyz="0.0000005818"
        izz="0.00018838" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/camera.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
  </link>
  <joint
    name="camera_fix"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="camera" />
    <axis
      xyz="0 0 0" />
  </joint>
  <joint
    name="arm_base_joint"
    type="revolute">
    <origin
      xyz="0.0311680686284274 -0.00134995018468019 0.148500000000001"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="arm_base_link" />
    <axis
      xyz="0 0 1" />
    <limit 
      effort="10.0" 
      lower="-3.141592653589793" 
      upper="3.141592653589793" 
      velocity="10.0"/>
  </joint>
  <joint name="arm_joint" type="revolute">
    <parent link="base_link"/>
    <child link="arm_base"/>
    <origin xyz="0.00095065 -0.00034599 0.12" rpy="0 0 0"/>
    <axis xyz="0 0 1"/>
    <limit
      lower="-1.5708"
      upper="1.5708"
      effort="0"
      velocity="0" />
  </joint>

  <link name="arm_base">
    <inertial>
      <origin
        xyz="0.01289341 -0.00240469 0.02505713" rpy="0 0 0" />
      <mass
        value="0.2549039" />
      <inertia
        ixx="0.00040576"
        ixy="1.895E-05"
        ixz="-6.422E-05"
        iyy="0.00024781"
        iyz="1.820E-05"
        izz="0.00043057" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/arm_base.dae" scale="1 1 1" />
      </geometry>
    </visual>
  </link>

  <link name="upper_arm">
    <inertial>
      <origin
        xyz="-0.15001643 0.03546654 1.966E-07" rpy="0 0 0" />
      <mass
        value="1.25745063" />
      <inertia
        ixx="0.00094754"
        ixy="-5.064E-05"
        ixz="4.228E-07"
        iyy="0.02025073"
        iyz="-9.390E-08"
        izz="0.02033103" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/upper_arm.dae" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.1427 0.03553 0" rpy="0 0 0" />
      <geometry>
        <box size="0.353 0.07 0.068"/>
      </geometry>
    </collision>
  </link>

  <link name="fore_arm">
    <inertial>
      <origin
        xyz="0.14561787 -0.03548906 0.06430799" rpy="0 0 0" />
      <mass
        value="0.97574223" />
      <inertia
        ixx="0.00127617"
        ixy="8.280E-05"
        ixz="-0.00132342"
        iyy="0.01186663"
        iyz="4.761E-05"
        izz="0.01184965" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/fore_arm.dae" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.1408 -0.0353 0.075" rpy="0 0 0" />
      <geometry>
        <box size="0.26 0.062 0.06"/>
      </geometry>
    </collision>
  </link>

  <link name="5dof">
    <inertial>
      <origin xyz="0.05653239 -0.03269584 0.05685774" rpy="0 0 0" />
      <mass value="0.54504586" />
      <inertia
        ixx="0.00088771"
        ixy="3.583E-06"
        ixz="-0.00035744"
        iyy="0.00105194"
        iyz="1.221E-05"
        izz="0.00109347" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/5dof.dae" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.079 -0.0323 0.07075" rpy="0 0 0" />
      <geometry>
        <box size="0.065 0.065 0.06"/>
      </geometry>
    </collision>
  </link>

  <link name="6dof">
    <inertial>
      <origin xyz="-0.00187795 -1.398E-08 -0.03443114" rpy="0 0 0" />
      <mass value="0.36685284" />
      <inertia
        ixx="0.00026279"
        ixy="-1.526E-10"
        ixz="-2.505E-06"
        iyy="0.00025222"
        iyz="1.742E-10"
        izz="0.00023237" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/6dof.dae" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.002 0 -0.037" rpy="0 0 0" />
      <geometry>
        <box size="0.06 0.065 0.072"/>
      </geometry>
    </collision>
  </link>

  <joint name="arm_base_joint" type="revolute">
    <parent link="arm_base"/>
    <child link="upper_arm"/>
    <origin xyz="0.0392 -0.0355 0.052" rpy="0 0 0"/>
    <axis xyz="0 1 0"/>
    <limit
      lower="0"
      upper="3.1416"
      effort="0"
      velocity="0" />
  </joint>

  <joint name="upper_arm_joint" type="revolute">
    <parent link="upper_arm"/>
    <child link="fore_arm"/>
    <origin xyz="-0.3 0.07082 0" rpy="0 0 0"/>
    <axis xyz="0 1 0"/>
    <limit
      lower="-3.1416"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>

  <joint name="fore_arm_joint" type="revolute">
    <parent link="fore_arm"/>
    <child link="5dof"/>
    <origin xyz="0.2698 -0.00295 0.075" rpy="0 0 0"/>
    <axis xyz="0 1 0"/>
    <limit
      lower="-1.5708"
      upper="1.7453"
      effort="0"
      velocity="0" />
  </joint>

  <joint name="5dof_joint" type="revolute">
    <parent link="5dof"/>
    <child link="6dof"/>
    <origin xyz="0.08 -0.0328 0.04075" rpy="0 0 0"/>
    <axis xyz="0 0 1"/>
    <limit
      lower="-1.5708"
      upper="1.5708"
      effort="0"
      velocity="0" />
  </joint>

  <link
    name="gripper_case_link">
    <inertial>
      <origin
        xyz="0.03305642 0.00005996 0.00932181"
        rpy="0 0 0" />
      <mass
        value="0.40000000" />
      <inertia
        ixx="0.00055302"
        ixy="-0.00000200"
        ixz="0.00001551"
        iyy="0.00034525"
        iyz="-0.00000411"
        izz="0.00051538" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm_v3_description/meshes/gripper_case_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0.03 0 0.005"
        rpy="0 0 0" />
      <geometry>
        <box size="0.05 0.071 0.07"/>
      </geometry>
    </collision>
  </link>
  <joint
    name="gripper_case_joint"
    type="revolute">
    <origin
      xyz="0.0289999999999858 0 -0.0407499999999717"
      rpy="0 0 0" />
    <parent
      link="6dof" />
    <child
      link="gripper_case_link" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-1.57"
      upper="1.57"
      effort="10"
      velocity="30" />
  </joint>
  <link
    name="gripper_left_link">
    <inertial>
      <origin
        xyz="0.03624894 0.00264813 -0.00147696"
        rpy="0 0 0" />
      <mass
        value="0.10000000" />
      <inertia
        ixx="0.00003123"
        ixy="-0.00000227"
        ixz="-0.00000644"
        iyy="0.00013365"
        iyz="-0.00000190"
        izz="0.00013922" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm_v3_description/meshes/gripper_left_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0.065 0.006 0"
        rpy="0 0 0" />
      <geometry>
        <box size="0.149 0.04 0.0376"/>
      </geometry>
    </collision>
  </link>
  <joint
    name="gripper_left_joint"
    type="prismatic">
    <origin
      xyz="0.0743999852684834 0.0602750061962686 -0.000100006520500351"
      rpy="0 0 0" />
    <parent
      link="gripper_case_link" />
    <child
      link="gripper_left_link" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="0"
      upper="0.04"
      effort="1"
      velocity="0.01" />
  </joint>
  <link
    name="gripper_right_link">
    <inertial>
      <origin
        xyz="0.03624898 -0.00264818 0.00164906"
        rpy="0 0 0" />
      <mass
        value="0.10000000" />
      <inertia
        ixx="0.00003124"
        ixy="0.00000227"
        ixz="0.00000643"
        iyy="0.00013366"
        iyz="-0.00000192"
        izz="0.00013921" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm_v3_description/meshes/gripper_right_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0.065 -0.006 0"
        rpy="0 0 0" />
      <geometry>
        <box size="0.149 0.04 0.0376"/>
      </geometry>
    </collision>
  </link>
  <joint
    name="gripper_right_joint"
    type="prismatic">
    <origin
      xyz="0.074399994923587 -0.0602749896221725 -0.00010000652049913"
      rpy="0 0 0" />
    <parent
      link="gripper_case_link" />
    <child
      link="gripper_right_link" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="-0.04"
      upper="0"
      effort="1"
      velocity="0.01" />
  </joint>
</robot>